<%= form_for [@bank, @word] do |f| %>
  <%= f.hidden_field :word_id, value: @word.id %>
  <%= f.hidden_field :bank_id, value: @bank.id %>
  <ul>
    <% @choices.each do |choice| %>
      <li class="drill-choice">
        <%= radio_button_tag(:choice, "#{choice}") %>
        <%= label_tag(:choice, "#{choice}") %>
      </li>
    <% end %>
  </ul>

  <div class="drill-button">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>

<p>
  Times <strong><%= @word.word %></strong> answered correctly:
  <%= @word.correct_answers %>
</p>

<p>
  Times <strong><%= @word.word %></strong> answered incorrectly:
  <%= @word.incorrect_answers %>
</p>
