<p>The definition of <strong><%= @word.word %></strong> is:</p>

<%= form_for [@bank, @answer] do |f| %>
  <ul>
    <% @choices.each do |choice| %>
      <li>
        <%= radio_button_tag(:choice, "#{choice}" %>
        <%= label_tag(:choice, "#{choice}" %>
      </li>
    <% end %>
  </ul>


  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
