<p>The definition of <strong><%= @word.word %></strong> is:</p>

<%= form_for [@bank, @word] do |f| %>
  <ul>
    <% @choices.each do |choice| %>
      <li>
        <%= radio_button_tag(:choice, "#{choice}") %>
        <%= label_tag(:choice, "#{choice}") %>
      </li>
    <% end %>
  </ul>


  <div class="actions">
    <%= f.submit "Submit Answer" %>
  </div>
<% end %>
