<!DOCTYPE html>
<html>
  <head>
    <title>Esl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="top-bar">
      <ul class="top-bar-left">
        <li><h1 class="title"><a href="/">E-Flash</a></h1></li>
      </ul>
      <ul class="top-bar-right">
        <% if user_signed_in? %>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
          <li><%= link_to 'View My Word Banks', user_banks_path(current_user.id) %></li>
          <li><%= link_to 'Create Word Bank', new_user_bank_path(current_user.id) %></li>
        <% else %>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>


  </body>
</html>
